body{
	margin:0;
	padding:0;
	background-color: #ff0000;
	font-family:arial,helvetica,clean,sans-serif;
	font-size:13px;
	text-align:center;
}

div{
	text-align:left;
}
div.paginationControl{
	text-align:center;
}
a,a:visited{
	color:#2A5DB0;
}
#wrapper{
	margin:0 20px;
}
#menu{
text-align:left;
}
#nav{
margin-top:1px;
text-align:left;
background-image:url(../images/nav-bg.gif);
height:45px;
}
#nav #view_website{
	float:right;
	margin-right:10px;
}
#nav #view_website a{
	background-color:#fff;
	color:#000;
	display:block;
	padding:4px 10px;
	text-decoration:none;
}
#nav #view_website a:hover{
	text-decoration:underline;
}
div.lb{
background-position:0 -1034px;
background-repeat:repeat-x;
height:10px;
background-image:url(../images/sprite.png);
}
#content{
text-align:left;
border:1px solid #DBE1E6;
padding:4px;
background:#fff;
height:auto !important;
min-height:400px;  
height:400px;
}
div.tree ul{
list-style-type:none;
}
#mmenu{
	margin:4px 0;
}
#mmenu ul{
	padding:0;
	margin:0;
}
#mmenu ul li{
	list-style-type:none;
}
#mmenu ul li {
	float:left;
	margin-right:4px;
}
#mmenu ul li a{
	text-decoration:underline;
	background:#F2F2F2 url(../images/white-grad.png) repeat-x scroll left top;
	display:block;
	padding:4px 9px;
	border:1px solid #ccc;
	color:#666;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
}
#mmenu ul li a:hover{
	color:#000;
	border:1px solid #333;
}


table.tadmin {
background-color:#E7E7E7;
border-spacing:1px;
color:#666666;
width:100%;
}
table.tadmin a{
	text-decoration:none;
}
table.tadmin a:hover{
	text-decoration:underline;
}
table.tadmin tfoot td{
	background-color:#F3F3F3;
border-top:1px solid #999999;
text-align:center;
padding:4px;
}
table.tadmin tbody td,table.tadmin tbody th{
	padding:4px;
}
table.tadmin th {
	background:#F0F0F0 none repeat scroll 0 0;
border-bottom:1px solid #999999;
border-left:1px solid #FFFFFF;
color:#666666;
text-align:left;
}
table.tadmin th.cb {
text-align:center;
}
table.tadmin tr {
background-color:#FFFFFF;
text-align:left;
}
table.tadmin tr.row1{
background-color:#F9F9F9;
border-top:1px solid #FFFFFF;
}
table.tadmin td.order{
text-align:center;
white-space:nowrap;
}
table.tadmin td.order span{
display:block;
float:left;
text-align:center;
width:20px;
}
table.tadmin tbody tr td {
background:#FFFFFF none repeat scroll 0 0;
border:1px solid #FFFFFF;
height:25px;
}
table.tadmin tbody tr.row1 td{
	background:#F9F9F9 none repeat scroll 0 0;
border-top:1px solid #FFFFFF;
}
div.gazel_form div.row{
	background-color:#fafafa;
	margin:2px 0;
	padding:2px 0;
}
div.gazel_form dt{
	width:15%;
	display:block;
	float:left;
	font-weight:bold;
}
div.gazel_form dd{
	width:85%;
	display:block;
	float:right;
}
table.gazel_form{
	border-collapse:collapse;
}
table.gazel_form td{
	padding:2px 2px 2px 3px;
	vertical-align:top;
}
table.gazel_form td.label{
	background-color:#F6F6F6;
	border:1px solid #fff;
}
table.gazel_form td label.label{
	display:block;
	padding:2px 15px 2px 2px;
	font-weight:bold;
}
div.successmsg{
background:#C3D2E5 url(../images/notice-info.png) no-repeat scroll 4px center;
border-bottom:3px solid #84A7DB;
border-top:3px solid #84A7DB;
color:#0055BB;
text-indent:35px;
padding:10px 0;
}
input.inp{
border:1px solid #ccc;
text-align:center;
}
dd{
padding:0;
margin:2px 0;
}
dt{
margin-top:3px;
}