<?php

	//for translate
	//	$translate= Zend_Registry::get('translate');	
	//

?>
<table class="tadmin">
	<thead>
		<tr>
			<th width="5" class="cb"><input type="checkbox" id="cbcall" /></th>
			<th width="50"><?php echo $this->translate->_('Username'); ?></th>
			<th width="170"><?php echo $this->translate->_('Email'); ?></th>
			<th><?php echo $this->translate->_('Name'); ?></th>
			<th><?php echo $this->translate->_('Group'); ?></th>
		</tr>
	</thead>
	<tbody>
		<?php foreach ( $this->paginator as $k=>$n ): ?>
		<tr>
			<td><input type="checkbox" name="cb[]" value="<?php echo $n['admin_id'] ?>" /></td>
			<td><a href="<?php echo $this->admin()->editLink($n['admin_id']) ?>"><?php echo $this->escape($n['admin_username']) ?></a></td>
			<td><a href="<?php echo $this->admin()->editLink($n['admin_id']) ?>"><?php echo $this->escape($n['admin_email']) ?></a></td>
			<td><?php echo $this->escape($n['admin_name']) ?></td>
			<td><?php echo $this->escape($n['admingroup_name']) ?></td>
		</tr>
		<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5"><?php echo $this->paginator ?></td>
		</tr>
	</tfoot>
</table>