<div id="Layer1" style="position:absolute; left:561px; top:143px; width:544px; height:28px; z-index:1">
<?php
	
	$fields = array (
		array('guestbook_name',$this->translate->_('Name')),
		array('guestbook_email',$this->translate->_('Email'))
	);
	
	echo $this->admin()->searchForm($fields);
?>
</div>

<table class="tadmin">
	<thead>
		<tr>
			<th width="5" class="cb"><input type="checkbox" id="cbcall" /></th>
			<?php echo $this->admin()->th("guestbook_name",$this->translate->_("Name")) ?>
			<?php echo $this->admin()->th("guestbook_email",$this->translate->_("Email")) ?>
			<?php echo $this->admin()->th("guestbook_approve",$this->translate->_("Approve")) ?>
		</tr>
	</thead>
	<tbody>
		<?php foreach ( $this->paginator as $k=>$n ): ?>
		<tr>
			<td><input type="checkbox" name="cb[]" value="<?php echo $n['guestbook_id'] ?>" /></td>
			<td><a href="<?php echo $this->admin()->editLink($n['guestbook_id']) ?>"><?php echo $this->escape($n['guestbook_name']) ?></a></td>
			<td><?php echo $this->escape($n['guestbook_email']) ?></td>
			<td><?php echo $this->escape(strtoupper($n['guestbook_approve'])) ?></td>
		</tr>
		<?php endforeach; ?>
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3"><?php echo $this->paginator ?></td>
		</tr>
	</tfoot>
</table>