body{
	margin:0;
	padding:0;
	background-color:#fff;
	font-family:arial,helvetica,clean,sans-serif;
	font-size:13px;
	text-align:center;
}
dd{
padding:0;
margin:2px 0;
}
dt{
margin-top:3px;
}
div#login{
margin:0 auto;
width:280px;
}
div.content{
padding:10px;
text-align:left;
}
input.txt{
background:#FFFFFF url(../images/input_bg.gif) repeat-x scroll left top;
border:1px solid #CACACA;
font-size:13px;
padding:4px;
width:245px;
}
input.sbmt{
	
}
div#login a.btn_gray {
background:transparent url(../images/login_button_bg.gif) no-repeat scroll right 0;
color:#FFFFFF;
float:left;
font-weight:bold;
height:25px;
letter-spacing:-1px;
line-height:25px;
text-align:center;
text-decoration:none;
}
div#login a.btn_gray span.left {
background:transparent url(../images/login_button_bg.gif) no-repeat scroll left -26px;
display:block;
padding:0 22px;
}
dt#login-label,dd#login-element{
display:none;
}
.box_theme_login_block
{
	background-color: #EDF2F6 ;
}

.box_theme_login_block .lt
{
	background: url(../images/block_lt.gif) no-repeat scroll left top !important;
}

.box_theme_login_block .rt
{
	background: url(../images/block_rt.gif) no-repeat scroll right top !important;
}

.box_theme_login_block .lb
{
	background: url(../images/block_lb.gif) no-repeat scroll left bottom !important;
}

.box_theme_login_block .rb
{
	background: url(../images/block_rb.gif) no-repeat scroll right bottom !important;
}
div.error{
	color:#f00;
	margin-top:10px;
}